.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container h2 {
  font-size: 24px;
  margin-bottom: 14px;
  font-weight: 500;
  color: #03071e;
}

.container input {
  width: 93%;
  padding: 0.625rem 10px;
  font-size: 1rem;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: 1px solid #ccc;
  background: transparent;
  background-color: #e3d5ca;
  border-radius: 4px;
}
.container label {
  position: absolute;
  top: 0;
  left: 10px;
  margin-left: 10px;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: grey;
  pointer-events: none;
  transition: 0.3s;
}

.container input:focus ~ label,
.container input:valid ~ label,
.container input:not([value=""]) ~ label {
  top: -0.5rem;
  left: 10px;
  color: #1a73e8;
  font-size: 0.75rem;
  background-color: white;
  height: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.container input:focus {
  outline: none;
  border: 2px solid #1a73e8;
}
