.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
}

.modal-content {
  width: 250px;
  background: white;
  border-radius: 8px;
  margin-top: 50px;
  margin-right: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.modal-wrapper:hover {
  cursor: pointer;
}

.myProfile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.myProfile .avatar img {
  border-radius: 50%;
  border: none;
}
.profile-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.myProfile .profile-desc h3 {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none !important;
}

.myProfile .profile-desc .your-profile {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none !important;
}
.line {
  height: 1px;
  background-color: #333;
  margin: 10px 0;
  width: 100%;
}
.logout button {
  width: 100%;
  background-color: blue;
  color: white;
  font-size: 1rem;
}
